.container{
    position: relative;
}

.item{
    z-index: 0;
    overflow: hidden;
    margin-bottom: 32px;
    border: none;
    color: rgb(255, 255, 255);
    transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3) 0s;
    box-shadow: rgb(10 11 13 / 8%) 0px 2px 4px 0px;
}

.item:hover{
    transform: scale(1.02);
}

.itemDetail{
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    white-space: normal;
    background: none;
    color: inherit;
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
    padding-left: 66px;
    padding-right: 66px;

    margin: 0px;
    border: none;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-align: center;
    cursor: pointer;
    background: none;
    text-decoration: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: auto;
    position: relative;
    padding: 16px 20px;
    width: 100%;
    appearance: none;
    box-sizing: border-box;
    vertical-align: middle;
}

.itemThumbnail{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    overflow: hidden;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: currentcolor;
    -webkit-mask-size: 100%;
    left: 8px;
    border-radius: 4px;
    width: 48px;
    height: 48px;
}

.itemText{
    padding: 0px;
    margin: 0px;
    line-height: 1.5;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    hyphens: none;
    text-transform: uppercase;
}